<div class="layout-topbar bg-dark">
  <a class="layout-topbar-logo" routerLink="">
    <img
      class="logo"
      src="assets/layout/images/app-logo-dark.svg"
      style="height: 90px; width: 75px"
      alt="logo"
    />
    <span>{{ title }}</span>
  </a>

  <ul
    class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer"
  >
    <li>
      <a
        (click)="router.navigate([''])"
        pRipple
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
      >
        <span>Home</span>
      </a>
    </li>
    <li>
      <a
        (click)="router.navigate(['/become-partner'])"
        pRipple
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
      >
        <span>Be Partner</span>
      </a>
    </li>
    <li>
      <a
        (click)="router.navigate(['/landing'], { fragment: 'highlights' })"
        pRipple
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
      >
        <span>Highlights</span>
      </a>
    </li>
    <li>
      <a
        (click)="router.navigate(['/contact-us'])"
        pRipple
        class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3"
      >
        <span>Contact Us</span>
      </a>
    </li>
  </ul>

  <div #topbarmenu class="layout-topbar-menu">
    <div
      class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0"
    >
      <button
        *ngIf="isLoggedIn === false"
        [routerLink]="['/login']"
        pButton
        pRipple
        label="Login"
        class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"
      ></button>
      <button
        *ngIf="isLoggedIn === false"
        [routerLink]="['/register']"
        pButton
        pRipple
        label="Register"
        class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"
      ></button>
      <button
      *ngIf="isLoggedIn == true"
      (click)="logout()"
      pButton
      pRipple
      label="Logout"
      class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"
    ></button>
    </div>
  </div>
</div>
