<div class="col-12 md:col-12">
<p-toast/>
    <div class="card px-6 py-6 w-8">
        <h5>New Activity</h5>
        <p-toolbar stylClass="mb-6">
            <ng-template pTemplate="left">
                <div class="my-2">
                    
                            <form [formGroup]="activityForm" (ngSubmit)="addActivity()">
                                <div class="flex flex-row gap-2">
                                    <p-floatLabel>
                                        <input id="activityName" type="text" pInputText formControlName="name"/>
                                        <label for="activityName">Activity Name</label>
                                    </p-floatLabel>
                                    
                                    <button
                                    type="submit"
                                    icon="pi pi-plus"
                                    pButton
                                    label="Add"
                                    [disabled]="activityForm.invalid"
                                  ></button>
                                </div>
                                
                                
                            </form>
                      
                </div>
            </ng-template>
        </p-toolbar>
    </div>

</div>