<div class="reservation-card">
    <div class="reservation-header">
      <h3>Votre réservation</h3>
    </div>
    <div class="reservation-details">
      <p><strong>Espace de la réservation:</strong>{{companyName+" "}}-{{" "+stadiumName }}</p>
      <p><strong>Date de réservation:</strong> {{ reservationDate | date:'dd-MM-yyyy' }}</p>
      <p><strong>Heure de réservation:</strong> {{ reservationTime }}</p>
    </div>
    <div class="price-details">
      <h4>Détails du prix</h4>
      <p><strong>Prix de la réservation:</strong> {{ price }} DT</p>
      <!-- <p><strong>Frais de la transaction:</strong> {{ transactionFee }} DT</p>
      <p><strong>Total:</strong> {{ totalPrice }} DT</p> -->
    </div>
  </div>