.background-photo {
  background-image: url("../../../../assets/demo/images/galleria/companyBackground.jpg");
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 20rem;
  background-position: center;
  margin-bottom: -4rem;
  margin-top: -4rem;
}

.logo-image {
  position: relative;
  z-index: 1;
}
