<div class="container p-fluid mt-8">
  <div class="col-12 md:col-6 image-container">
    <img src="assets/demo/images/landing/mockup.svg" class="w-11" alt="mockup mobile">
  </div>
  <div class="col-12 md:col-6 form-container">
    
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-fluid">
          <h2>Login</h2>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" type="email" pInputText formControlName="email" />
            <div
              *ngIf="
                loginForm.controls['email'].invalid &&
                (loginForm.controls['email'].dirty ||
                  loginForm.controls['email'].touched)
              "
              class="p-error"
            >
              Enter a valid email.
            </div>
          </div>

          <div class="field">
            <label for="password">Password</label>
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
            ></p-password>
            <div
              *ngIf="
                loginForm.controls['password'].invalid &&
                (loginForm.controls['password'].dirty ||
                  loginForm.controls['password'].touched)
              "
              class="p-error"
            >
              Password must be at least 6 characters long.
            </div>
          </div>

          <button
            type="submit"
            pButton
            label="Login"
            [disabled]="loginForm.invalid"
          ></button>

          <div class="field text-center p-4">
            Don't have an account? <a href="/register">Sign up</a>           
          </div>
          
        </div>
      </form>
  
  </div>
</div>