.hero-background {
  background-image: url("../../../../assets/demo/images/galleria/galleria1.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  height: 50vh; 
  position: relative;
}

