<div class="profile">
  <div class="profile-background"></div>
  <div *ngIf="userProfile" class="profile-content flex align-items-center justify-content-center min-w-screen">
    <div class="flex w-full flex-column align-items-center justify-content-center">
      <div
      class="w-5"
        style="
        margin: 5.5rem;
          border-radius: 56px;
          padding: 0.3rem;
          background: linear-gradient(
            180deg,
            var(--primary-color) 10%,
            rgba(33, 150, 243, 0) 30%
          );
        "
      >
      <div class="surface-card py-7 px-5 sm:px-8" style="border-radius: 53px" >
      <div class="text-center mb-5">
            <img src="assets/demo/images/activities/football.jpeg" alt="logo" class="mb-4 w-10rem flex-shrink-0" style="border-radius: 340%;">
            <div class="text-900 text-3xl font-medium mb-3">Welcome, {{userProfile.firstName}}</div>
          </div>
  
          <div>
            <form [formGroup]="updateForm" (ngSubmit)="update()">
              <div class="p-fluid">
                <div class="grid justify-content-center">
                  <div class="col-12 md:col-4">
                    <div class="field">
                      <label for="firstName">First Name</label>
                      <input
                        id="firstName"
                        type="text"
                        pInputText
                        formControlName="firstName"
                      />
                    </div>
                  </div>
      
                  <div class="col-12 md:col-4">
                    <div class="field">
                      <label for="lastName">Last Name</label>
                      <input
                        id="lastName"
                        type="text"
                        pInputText
                        formControlName="lastName"
                      />
                   
                    </div>
                  </div>
                </div>
  
                <div class="grid justify-content-center">
                  <div class="col-8">
                    <div class="field">
                      <label for="email">Email</label>
                      <input id="email" type="email" pInputText formControlName="email" />
                      <div
                      *ngIf="
                      updateForm.controls['email'].invalid &&
                        (updateForm.controls['email'].dirty ||
                        updateForm.controls['email'].touched)
                          "
                      class="p-error"
                      >
                      Enter a valid email.
                    </div>
                  </div>
                  </div>
                </div>
      
                <div class="grid justify-content-center">
                  <div class="col-12 md:col-4">
                    <div class="field">
                      <label for="password">Password</label>
                      <p-password
                        id="password"
                        formControlName="password"
                        [toggleMask]="true"
                        ></p-password>
                        <div
                        *ngIf="
                        updateForm.controls['password'].invalid &&
                          (updateForm.controls['password'].dirty ||
                          updateForm.controls['password'].touched)
                            "
                        class="p-error"
                        >
                        Password must be at least 6 characters long.
                      </div>
                    </div>
                  </div>
      
                  <div class="col-12 md:col-4"> 
                    <div class="field">
                      <label for="confirmPassword">Confirm Password</label>
                      <p-password
                      id="confirmPassword"
                      formControlName="confirmPassword"
                      [toggleMask]="true"
                      ></p-password>
                      <div
                        *ngIf="
                        updateForm.controls['confirmPassword'].invalid &&
                          (updateForm.controls['confirmPassword'].dirty ||
                          updateForm.controls['confirmPassword'].touched)
                        "
                        class="p-error"
                      >
                        Confirm password is required.
                      </div>
                      <div
                        *ngIf="updateForm.get('confirmPassword')?.errors?.['passwordMatch']"
                        class="p-error"
                      >
                        Passwords do not match.
                      </div>
                    </div>
                  </div>
                  </div>
                
                  <div class="grid justify-content-center">
                    <div class="col-12 md:col-4">
                      <button
                        type="submit"
                        pButton
                        label="Update"
                        [disabled]="updateForm.invalid"
                      ></button>
                    </div>
                  </div>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
