.profile {
  background-image: url("/src/assets/demo/images/galleria/backgroundSport.avif");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100vh; 
}
