<p-card>
    <p-dataView #dv [value]="stadiums" [rows]="5" [paginator]="true" class="p-4 m-3">
        <ng-template pTemplate="header">

        </ng-template>
    
        <ng-template let-stadiums pTemplate="list">
            <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let stadium of stadiums; let first = first">
                <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3" [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <div class="relative">
                        <p-galleria 
                                [value]="stadium?.photos" 
                                [showIndicators]="true" 
                                [showThumbnails]="false" 
                                [changeItemOnIndicatorHover]="true" 
                                [containerStyle]="{ 'max-width': '600px' }"> 
                                    <ng-template pTemplate="item" let-item>
                                        <img [src]="item" style="width: 100%; height: 15rem; display: block;" />
                                    </ng-template>
                        </p-galleria>
                    </div>
                    <div class="flex flex-column justify-content-between md:align-items-center flex-1 row-gap-6">
                        <div class="flex md:flex-column align-items-center gap-3">
                            <div class="font-bold text-2xl">{{stadium.nameStadium}}</div>
                            <div class="mb-2">{{stadium?.company?.companyName}}</div>
                             <div class="flex flex-row list-none text-900">
                            <li class="p-2">
                              <i class="pi pi-clock text-xl text-cyan-500 mr-2"></i>
                              <span class="text-xl line-height-3">{{stadium.duration}}</span>
                              <span class="text-600">min</span>
                            </li>
                            <li class="p-2">
                              <i class="pi pi-users text-xl text-cyan-500 mr-2"></i>
                              <span class="text-xl line-height-3">{{stadium.capacity}}</span>
                            </li>
                            <li class="p-2">
                              <i class="pi pi-map-marker text-xl text-cyan-500 mr-2"></i>
                              <span class="text-xl line-height-3">{{stadium.company?.state.name}}</span>
                            </li>
                            </div>
                        <div class="flex align-items-center mt-2">
                            <i class="pi pi-hashtag mr-2"></i>
                            <span class="font-semibold">{{stadium.activity.name}}</span>
                        </div>
                    </div>
                </div>
                    <div class="flex flex-column md:align-items-center gap-8">
                        <span class="text-xl font-semibold text-900">{{stadium.price}}Dt</span>
                        <div class="flex flex-row gap-2">
                            <p-button icon="pi pi-info-circle" label="Detail"></p-button>
                            <p-button icon="pi pi-trash" severity="danger" [outlined]="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </ng-template>
    
    </p-dataView>
    
</p-card>
