<div class="p-fluid mt-8">
  <p-toast />
  <div class="col-12 md:col-6">
    <p-card header="Add Stadium" styleClass="card">
      <form [formGroup]="stadiumForm" (ngSubmit)="addStadium()">
        <div class="p-fluid grid">
          <div class="field md:col-4">
            <label for="stadiumName">Stadium Name</label>
            <input
              id="stadiumName"
              type="text"
              pInputText
              formControlName="nameStadium"
              placeholder="Stadium name"
            />
            <div
              *ngIf="
                stadiumForm.controls['nameStadium'].invalid &&
                (stadiumForm.controls['nameStadium'].dirty ||
                  stadiumForm.controls['nameStadium'].touched)
              "
              class="p-error"
            >
              Enter a valid name.
            </div>
          </div>

          <div class="field md:col-4">
            <label for="activity">Activities</label>
            <p-dropdown
              id="activity"
              [options]="activities"
              formControlName="activity"
              optionLabel="name"
              optionValue="id"
            ></p-dropdown>
            <div
              *ngIf="
                stadiumForm.controls['activity'].invalid &&
                (stadiumForm.controls['activity'].dirty ||
                  stadiumForm.controls['activity'].touched)
              "
              class="p-error"
            >
              Activity is required.
            </div>
          </div>

          <div class="field md:col-4">
            <label for="capacity">Stadium Capacity</label>
            <input
              id="capacity"
              type="number"
              pInputText
              formControlName="capacity"
              placeholder="Stadium Capacity"
            />
            <div
              *ngIf="
                stadiumForm.controls['capacity'].invalid &&
                (stadiumForm.controls['capacity'].dirty ||
                  stadiumForm.controls['capacity'].touched)
              "
              class="p-error"
            >
              <div
                *ngIf="stadiumForm.controls['capacity'].hasError('required')"
              >
                Capacity is required.
              </div>
              <div
                *ngIf="stadiumForm.controls['capacity'].hasError('twoDigit')"
              >
                must be a number with up to 2 digits.
              </div>
            </div>
          </div>

          <div class="field md:col-4">
            <label for="startT">Start</label>
            <p-calendar
              id="startT"
              inputId="calendar-timeonly"
              formControlName="startT"
              [timeOnly]="true"
              hourFormat="24"
            />
            <div
              *ngIf="
                stadiumForm.controls['startT'].invalid &&
                (stadiumForm.controls['startT'].dirty ||
                  stadiumForm.controls['startT'].touched)
              "
              class="p-error"
            >
              Start Time is required.
            </div>
          </div>
          <div class="field md:col-4">
            <label for="endT">End</label>
            <p-calendar
              id="endT"
              inputId="calendar-timeonly"
              formControlName="endT"
              [timeOnly]="true"
              hourFormat="24"
            />
            <div
              *ngIf="
                stadiumForm.controls['endT'].invalid &&
                (stadiumForm.controls['endT'].dirty ||
                  stadiumForm.controls['endT'].touched)
              "
              class="p-error"
            >
              Start Time is required.
            </div>
          </div>

          <div class="field md:col-4">
            <label for="capacity">Delay</label>
            <input
              id="delay"
              type="number"
              pInputText
              formControlName="delay"
            />
            <div
              *ngIf="
                stadiumForm.controls['delay'].invalid &&
                (stadiumForm.controls['delay'].dirty ||
                  stadiumForm.controls['delay'].touched)
              "
              class="p-error"
            >
              <div
                *ngIf="stadiumForm.controls['capacity'].hasError('required')"
              >
                Delay is required.
              </div>
            </div>
          </div>
          
          <div class="field md:col-12" formArrayName="uploadedFiles">
            <p-fileUpload 
            name="file"  
            url="https://www.primefaces.org/cdn/api/upload.php" 
            (onUpload)="onUpload($event)" 
            [multiple]="true" 
            accept="image/*" 
            maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="files.length">
                        <li *ngFor="let file of files">
                          {{ file.name }} - {{ file.size }} bytes
                        </li>
                    </ul>
                </ng-template>
        </p-fileUpload>
          </div>

          <button
            type="submit"
            pButton
            label="Add"
            [disabled]="stadiumForm.invalid"
          ></button>
        </div>
      </form>
    </p-card>
  </div>
</div>
