<div class="p-fluid mt-8">
  <p-toast />
    <div class="col-12 md:col-6">
      <p-card header="Add Stadium" styleClass="card">
       <form [formGroup]="stadiumForm" (ngSubmit)="addStadium()">
          <div class="p-fluid grid">
            <div class="field md:col-6">
              <label for="stadiumName">Stadium Name</label>
              <input id="stadiumName" type="text" pInputText formControlName="nameStadium" placeholder="Stadium name"/>
              <div
                *ngIf="
                  stadiumForm.controls['nameStadium'].invalid &&
                  (stadiumForm.controls['nameStadium'].dirty ||
                  stadiumForm.controls['nameStadium'].touched)
                "
                class="p-error"
              >
                Enter a valid name.
              </div>
            </div>

            <div class="field md:col-6">
              <label for="capacity">Stadium Capacity</label>
              <input id="capacity" type="number" pInputText formControlName="capacity" placeholder="Stadium Capacity"/>
              <div
                *ngIf="
                  stadiumForm.controls['capacity'].invalid &&
                  (stadiumForm.controls['capacity'].dirty ||
                  stadiumForm.controls['capacity'].touched)
                "
                class="p-error"
              >
                Enter a valid name.
              </div>
            </div>

            <div class="field md:col-6">
              <label for="activity">Activities</label>
              <p-dropdown
                id="activity"
                [options]="activities"
                formControlName="activity"
                optionLabel="name"
                optionValue="id"
              ></p-dropdown>
            </div>
  
            <button
              type="submit"
              pButton
              label="Add"
              [disabled]="stadiumForm.invalid"
            ></button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  