<div class="col-12 md:col-12">
    <p-toast/>
        <div class="card px-6 py-6">
            <h5>New State</h5>
            <p-toolbar stylClass="mb-6">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        
                                <form [formGroup]="stateForm" (ngSubmit)="addState()">
                                    <div class="flex flex-row gap-2">
                                        <p-floatLabel>
                                            <input id="stateName" type="text" pInputText formControlName="name"/>
                                            <label for="stateName">State Name</label>
                                        </p-floatLabel>
                                        
                                        <button
                                        type="submit"
                                        icon="pi pi-plus"
                                        pButton
                                        label="Add"
                                        [disabled]="stateForm.invalid"
                                      ></button>
                                    </div>
                                    
                                    
                                </form>
                          
                    </div>
                </ng-template>
            </p-toolbar>
        </div>
    
    </div>